@model BarberBoss___Barber_Shop.ViewModels.BarberShops.BarberShopPaginatedListViewModel
@{
    this.ViewData["Title"] = "Barber Shops";
}

<div>
    @await Component.InvokeAsync("BarberServicesSimpleList")
</div>
<div class="text-center text-dark pb-5">
    <h2><strong>@this.ViewData["BarberServiceName"]?.ToString()</strong></h2>
</div>

@if (!Model.BarberShops.Any())
{
    <h2 class="ml-5">No results!</h2>
}

<div class="row row-eq-height">
    @foreach (var barberShop in Model.BarberShops)
    {
        <div class="col-lg-4 align-center {text-align: center; margin: auto;}">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <div class="card col-12 " style="width: 38rem;">
                <div class="card col-4" style="width: 35rem;"><img class="card-img-top" style="width: 35rem;" src="@barberShop.ImageUrl" alt=""></div>
                <p></p>
                <div class="doctor_content">
                    <div class="h4 text-center font-weight-bold">
                        <a asp-area="" asp-controller="BarberShops" asp-action="Details" asp-route-id="@barberShop.Id">@barberShop.Name</a>
                    </div>
                    <div class="font-italic"><strong>@barberShop.BarberServiceName</strong></div>
                    <div class="doctor_title">@barberShop.TownName, @barberShop.Address</div>
                    <div class="doctor_title ml-2">
                        <div class="btn btn-outline-primary">
                            <a asp-area="" asp-controller="BarberShops" asp-action="Details" asp-route-id="@barberShop.Id">
                                <span>See Services</span>
                            </a>
                        </div>
                    </div>
                    <div class="h3 text-lg-right">
                        <a asp-area="" asp-controller="BarberShops" asp-action="Details" asp-route-id="@barberShop.Id">+</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.BarberShops.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BarberShops.HasNextPage ? "disabled" : "";
}

<div class="row ml-5">
    <div class="m-5">
        <a asp-action="Index"
           asp-route-sortId="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.BarberShops.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           style="color: #00008B" class="btn btn-outline-secondary btn-lg @prevDisabled">
            &#x2190; Previous Page
        </a>
    </div>
    <div class="m-5">
        <a asp-action="Index"
           asp-route-sortId="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.BarberShops.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           style="color: #00008B" class="btn btn-outline-secondary btn-lg @nextDisabled">
            Next Page &#x2192;
        </a>
    </div>
</div>
