@model BarberBoss___Barber_Shop.ViewModels.BarberShops.BarberShopWithServicesViewModel
@{
    this.ViewData["Title"] = "Barber: " + Model.Name;
}

<div class="row row-eq-height">
    <!-- Info Box -->
    <div class="col-lg-6 info_box_col">
        <div class="card col-12 " style="width: 38rem;">
            <div class="info_image"><img class="card-img-top" style="width: 25rem;" src="@Model.ImageUrl" alt=""></div>
            <div class="info_content">
                <div class="info_title">@Model.Name</div>
                <div class="info_text">BarberService: <strong>@Model.BarberServiceName</strong></div>
                <div class="info_text">Town: <strong>@Model.TownName</strong></div>
                <div class="info_text">Address: <strong>@Model.Address</strong></div>
                <div class="info_text">
                    Rating: &nbsp;&nbsp;
                    <span class="star-rating">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="@Model.Rating">
                    </span>
                    <span>&nbsp; ( @Model.Rating.ToString("F") / 5.00 ) from @Model.RatersCount votes</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel -->
    <div class="col-lg-10">
        <h1>Services:</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Available</th>
                    <th scope="col">Change</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.Services)
                {
                    <tr>
                        <th scope="row">@service.ServiceName</th>
                        <td>
                            @if (service.Available == true)
                            {
                                <span style="font-family:Arial, FontAwesome" class="text-success">&#xf00c;</span>
                            }
                            else
                            {
                                <span style="font-family:Arial, FontAwesome" class="text-danger">&#xf00d;</span>
                            }
                        </td>
                        <td>
                            <form method="post">
                                <button type="submit" class="btn btn-outline-info btn-sm"
                                        asp-area="Barber" asp-controller="BarberShops" asp-action="ChangeServiceAvailableStatus" 
                                        asp-route-barberShopId="@Model.Id" asp-route-serviceId="@service.ServiceId">
                                    Change
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr class="bg-dark mx-4" style="height: 6px;" />

<div>
    @await Component.InvokeAsync("AllAppointmentsByBarberShop", Model.Id)
</div>

@section Scripts {
    <script src="~/js/rating-static.js" asp-append-version="true"></script>
}
